/vendor
node_modules
.php-cs-fixer.cache

### Keep refence to overriden theme files
### ps_shoppingcart
_theme/modules/ps_shoppingcart/**/*.tpl
!_theme/modules/ps_shoppingcart/modal.tpl
!_theme/modules/ps_shoppingcart/ps_shoppingcart.tpl
### checkout templates
_theme/templates/checkout/**/*.tpl
!_theme/templates/checkout/_partials/cart-summary-product-line.tpl
!_theme/templates/checkout/_partials/cart-detailed-product-line.tpl
!_theme/templates/checkout/_partials/order-confirmation-table.tpl
!_theme/templates/checkout/order-confirmation.tpl
