/vendor
node_modules
.php-cs-fixer.cache
dealtmodule
dealtmodule_*.zip

### Keep refence to overriden theme files
### ps_shoppingcart
child_classic/modules/ps_shoppingcart/**/*.tpl
!child_classic/modules/ps_shoppingcart/modal.tpl
!child_classic/modules/ps_shoppingcart/ps_shoppingcart.tpl
### checkout templates
child_classic/templates/checkout/**/*.tpl
!child_classic/templates/checkout/_partials/cart-summary-product-line.tpl
!child_classic/templates/checkout/_partials/cart-detailed-product-line.tpl
!child_classic/templates/checkout/_partials/order-confirmation-table.tpl
!child_classic/templates/checkout/order-confirmation.tpl
