#dealt-offer-card {
  transition: .2s ease-in-out;
}

#dealt-offer-card.loading {
  pointer-events: none;
  opacity: 0.3;
  filter: blur(2px);
  cursor: not-allowed;
  cursor: -moz-not-allowed;
  cursor: -webkit-not-allowed;
}

.dealt-offer-detach.disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
  cursor: -moz-not-allowed;
  cursor: -webkit-not-allowed;
}